html {
	font-size: 62.5%;
}

body {
	background-color: #000000e6;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2rem;
}

.header::after {
	content: '';
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	transition: all 0.5s;
}

img {

	width: 100%;
	height: 80rem;
	object-fit: fill;
}

.header-content {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 50%;
	margin-top: 105px;
	margin-left: -145px;
	text-align: center;
	width: 300px;
	height: 350px;
	transition: all 1000ms;
}

.header-content .logo {
	height: 200px;
	width: 200px;
}


.proyectos {
	text-align: end;
	position: sticky;
	top: 0;
	width: 10rem;
	background-color: #0000ffa6;
	border-radius: .4rem;
}

.proyectos:hover {
	background: #101ea0;
}

#proyectos {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.title {
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
}

#text1 {
	font-size: 2.5rem;
	font-weight: 900;
	background: #00000038;
	border-radius: 2rem;

}

.text {
	line-height: 1.7;
	margin-top: 2rem;
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: none;
	padding: 4rem 1rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.text-center {
	text-align: center;
	margin: auto;
}

.bg-light {
	background-color: #fff;
	color: #333333;
}

.bg-dark {
	background-color: #000000;
	color: #fff;
}

.services {
	padding: 2rem 0;
}

.footer {
	padding: 2.2rem;
}

.footer p {
	margin: 0;
}

@media (max-width: 560px) {
	img {
		width: 100%;
		height: 10%;
	}

	.header-content {
		top: 5%;
		margin-top: 10px;
	}

	.header-content .logo {
		height: 140px;
		width: 140px;
	}

	.header-content .text {
		display: flex;
	}

	.grid-3,
	.grid-2 {
		grid-template-columns: 1fr;
	}

	.services {
		padding: 5rem 1rem;
	}
}

@media (max-height: 500px) {
	.header-content .text {
		display: none;
	}

	.header-content {
		top: 0;
	}

	.header-content .logo {
		height: 180px;
		width: 180px;
	}
}